.order-book {
    width: 400px;
}

.order-book-header {
    background: black;
    color:#fff;
    height: 20px;
}

.order-book-body  {
    height: 200px;
    overflow: auto;
}

.order-book-item {
    height: 20px;
    padding: 5px;
}
.column {
    float: left;
    width: 33.33%;
    height: 20px;
    text-align: center;
    line-height: 100%;
    line-height: 20px;
}

#price {
    color: red;
}